//
// _reboot.scss
//

body {
    overflow-x: hidden;
}

.row > * {
    position: relative;
}

.scroll-hidden {
    &::-webkit-scrollbar {
        appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 0;
    }
}
