.venv
__pycache__
*.pyc
*.pyo
.env
.pytest_cache
.ruff_cache
.coverage
*.ipynb
.ipynb_checkpoints
tests
scripts
.cache
.git
*.md
*.csv
ollama_response.txt
ollama_repaired_response.txt
openrouter_response.txt
