<div class="auth-magic-container">

  @if(step === 1){
  <div class="forgot-password-form">
    <h2>Réinitialiser votre mot de passe</h2>

    <form [formGroup]="forgotForm" (ngSubmit)="submitForgot()">
      <input type="email" formControlName="email" placeholder="Votre email" />
      <button type="submit" [disabled]="forgotForm.invalid">
        Envoyer le lien
      </button>
    </form>
  </div>
  }

  @if(step === 2){
  <div class="verify-otp-form">
    <h2>Entrez le code reçu</h2>

    <form [formGroup]="otpForm" (ngSubmit)="submitOTP()">
      <input type="text" formControlName="code" placeholder="Code OTP (6 chiffres)" />
      <button type="submit" [disabled]="otpForm.invalid">
        Vérifier
      </button>
    </form>
  </div>
  }

  @if(step === 3){
  <div class="reset-password-form">
    <h2>Nouveau mot de passe</h2>

    <form [formGroup]="resetForm" (ngSubmit)="submitReset()">
      <input type="password" formControlName="password" placeholder="Nouveau mot de passe (min 8 car.)" />
      <button type="submit" [disabled]="resetForm.invalid">
        Réinitialiser
      </button>
    </form>
  </div>
  }

  @if(step === 4){
  <div class="reset-password-form">
    <h2>Mot de passe réinitialisé</h2>
    <p>Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
  </div>
  }

</div>
